{% extends "layout.html" %}
{% block body %}
<form action="/" method="post">
      <div class="col-sm-7">
        <b><input type="text" class="form-control input-lg" name="keywords" value="{{ value }}"></b>
      </div>
      <button type="submit" class="btn btn-default btn-lg">Images</button>
</form>

    {{ div }}

{% endblock %}
