{% extends "layout.html" %}
{% block body %}
<form style="margin-top: 25%" action={{ action }} method="get">
      <div class="col-sm-offset-2 col-sm-8 input-group">
        <b><input type="text" class="form-control input-lg" name="keywords" autofocus></b>
          <div class="input-group-addon"><span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span></div>
      </div>
</form>
{% endblock %}