<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>Fake Google</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Across the great wall we can reach every corner in the world</span>
        </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
            <li class={{ search_active }}><a href="/">网页</a></li>
            <li class={{ images_active }}><a href="/images">图片</a></li>
          </ul>
          </div>

      </div>
    </nav>

    <div class="container">
{% block body %}{% endblock %}

    </div> <!-- /container -->
</body>
</html>