{% extends "layout.html" %}
{% block body %}
<form action={{ action }} method="get" style="margin-bottom: 3em">
      <div class="col-sm-7">
        <b><input type="text" class="form-control input-lg" name="keywords" value="{{ value }}"></b>
      </div>
      <button type="submit" class="btn btn-default btn-lg">{{ button }}</button>
</form>

    {{ div }}
<nav>
  <ul class="pagination pagination-lg">
    <li class={{ pagination.previous_disabled }}>
        {% if pagination.previous_disabled %}
          <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
          </a>
        {% else %}
            <a href={{ pagination.previous }} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
    </li>
      {% for link in pagination.pagelinks %}
          <li class={{ link.active }}><a href={{ link.url }}>{{ link.page }}</a></li>
      {% endfor %}
    <li>
      <a href={{ pagination.next }} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
